<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

                <dt class="text-upper">专业</dt>
                <dd>网络与新媒体</dd>

                <dt class="text-upper">手机</dt>
                <dd>135-3145-7409</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="13531457409@163.com" style=text-decoration:none>13531457409@163.com</a></dd>

                <dt class="text-upper">求职意向</dt>
                <dd>新媒体运营、网站运营与维护</dd>

                <dt class="text-upper">学历</dt>
                <dd>本科在读</dd>

                <dt class="text-upper">联系地址</dt>
                <dd>广州市从化区温泉镇882大道（510970）</dd>

            </dl>
        </div><!-- col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->